.profile__header {
  max-height: 200px;
  overflow: hidden;
}
.profile__header img {
  width: 100%;
  transform: translatey(-25%);
}
.user__info {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-weight: 100;
}
.user__photo {
  position: relative;
  height: 150px;
  width: 150px;
  margin-left: 3%;
  margin-top: -75px;
  background: #fff;
  z-index: 2;
  border: 1px solid #e5e5e5;
  overflow: hidden;
}

.user__photo img {
  width: 100%;
  height: auto;
}

.info {
  margin-left: 20px;
}

.name {
  font-weight: 300;
  font-size: 19px;
  margin: 15px 0px 10px;
}
.info__item {
  font-size: 13px;
  line-height: 18px;
  color: #555;
}