.pagination {
    width: max-content;
    margin: auto;
    margin-bottom: 10px;
}

.pagination button {
    background: none;
    border: none;
    box-shadow: none;
}
.pagination button svg {
    height: 16px;
}
.page {
    font-size: 20px;
    font-family: 'Segoe UI light';
    margin: 0 8px;
}
.page:hover {
    cursor: pointer;
    font-weight: 600;
    color: rgb(38, 191, 166);
    transition: .2s;
}
.selected {
    font-weight: 600;
    color: rgb(38, 191, 166);
}
