.user {
    display: grid;
    grid-template-rows: 50px auto 30px;
    grid-template-columns: 120px auto 180px;
    grid-template-areas: 
    "photo name name"
    "photo body location"
    "follow gap gap";
    margin: 20px;
}
.user__photo {
    grid-area: photo;
    position: relative;
    height: 100px;
    width: 100px;
    z-index: 2;
    border: 1px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
  }
  
.user__photo img {
    width: 100%;
    height: auto;
}

.user__name {
    grid-area: name;
    color: rgb(233, 86, 111);
    font-size: 22px;
}

.user__location {
    grid-area: location;
    font-size: 14px;
    color: #9f9f9f;
}

.user__status {
    grid-area: body;
    font-size: 14px;
}

.follow button{
    grid-area: follow;
    border: none;
    box-shadow: none;
    padding: 6px 15px;
    margin: 5px 15px;
    background-color: rgb(233, 86, 111);
    color: #fff;
}

.selected{
    font-weight: 600;
    color: rgb(233, 86, 111);
}
