.posts {
    margin-left: 2%
}
.add__post textarea {
    width: 90%;
    display: block;
    height: 50px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

.add__post button {
    background: rgb(233, 86, 111);
    color: #fff;
    padding: 10px 30px;
    border: none;
    margin: 0 0 20px;
}