.preloader {
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.preloader img {
    display: inline-block;
    width: 150px;
    margin-top: 45vh;
}