.formControl {
    position: relative;
}
.formControl.error input,
.formControl.error textarea {
    border: 1px solid rgb(233, 86, 111);
    transition: all .3s;
}

.formControl.error span {
    position: absolute;
    font-size: 12px;
    bottom: -18px;
    left: 0;
    color: rgb(233, 86, 111);
    transition: all .3s;
}