h4 {
    color: #fff;
    font-size: 26px;
    font-weight: 200;
    margin: 10px auto;
}

.login input {
    display: block;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #222;
    background: rgba(0,0,0,0.5);
    color: #fff;
}
.login input:focus {
    outline: none;
    border: 1px solid #bbb;
    transition: .3s;
    background: rgba(0,0,0,0.5);
}

.login {
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
}

.login form {
    display: grid;
    background: rgba(50,50,50,0.7);
    width: 300px;
    margin: 20vh auto;
}

.login form > div {
    font-size: 14px;
    margin: 10px auto;
    color: #eee;
}

.login button {
    background: rgb(233, 86, 111);
    color: #fff;
    padding: 10px 30px;
    border: none;
    margin: 10px auto;
}

.login input[type="checkbox"] {
    display: none;
}
.login input[type="checkbox"]+label {
    color: #ccc;
    width: 100%;
    text-align: center;
}

input[type="checkbox"]:checked+label {
    color: #e9566f;
}


.login form .summaryError {
    color: rgb(233, 86, 111);
    padding: 5px;
}

.captcha {
    width: 95%;
    margin: auto;
}