a, a:hover, a:visited {
  text-decoration: none;
  color: initial;
}

.app-wraper {
  display: grid;
  grid-template-areas: "n c";
  grid-template-rows: 1fr;
  grid-template-columns: 1.5fr 8.5fr;
}

.app-wraper-content {
    grid-area: c;
}

button{
  border: none;
  box-shadow: none;
  padding: 6px 15px;
  margin: 5px 15px;
  background-color: rgb(233, 86, 111);
  color: #fff;
}
