.dialogs {
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs__items {
    border-right: 1px solid #ddd;
}

.messages {
    position: relative;
    padding: 2%;
    overflow: auto;
    padding-bottom: 148px;
}
.new__message {
    width: 68%;
    background: #fff;
    position: fixed;
    bottom: 0;
}
.new__message textarea {
    width: 95%;
    display: block;
    height: 50px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

.new__message button {
    background: rgb(233, 86, 111);
    color: #fff;
    padding: 10px 30px;
    border: none;
    margin: 0 5% 20px;
    float: right;

}
