.dialogs {
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs__items {
    border-right: 1px solid #ddd;
}

.messages {
    position: relative;
    padding: 2%;
    overflow: auto;
    padding-bottom: 148px;
}
.messages__control {
    width: 100%;
    background: #fff;
    padding: 10px 0 0;
    display: flex;
    justify-content: flex-end;
}
.messages__control button {
    margin: 0 15px 0 0;
    background: rgb(44, 44, 44);
}
.new__message {
    width: 69%;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 30%;
    height: 147px;
}
.new__message textarea {
    width: 95%;
    display: block;
    height: 50px;
    margin: 20px 1%;
    border: 1px solid #ccc;
}

.new__message button {
    background: rgb(233, 86, 111);
    color: #fff;
    padding: 10px 30px;
    border: none;
    margin: 0 5% 20px;
    float: right;

}
