.message__wrapper {
    width: 100%;
    display: inline-block;
}

.message {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1px 0;
    width: max-content;
    padding: 5px;
    position: relative;
    font-size: 14px;
}
.message__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.author {
    color: rgb(233, 86, 111);
    font-size: 14px;
    font-weight: 300;
}

.time {
    font-size: 12px;
    color: #9f9f9f;
}

.message.my {
    float: right;
    margin-right: 4%;
}
.message:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #ddd;
}

.message.unviewed, .message.unviewed:before {
    border: 1px solid rgb(233, 86, 111);
}

.message.selected, .message.selected::before {
    border: 1px solid rgb(31, 187, 174);
}

.message:not(.my)::before {
    left: -12px;
    border-radius: 10px 0 0px 10px;
    border-right-color: #fff;
}
.message.my:before {
    right: -12px;
    border-radius: 0px 10px 10px 0px;
    border-left-color: #fff;
}
.message.selected .author {
    color: rgb(31, 187, 174);
}